@font-face {
  font-family: "iconfont"; /* Project id 2008860 */
  src: url('iconfont.woff2?t=1621517406754') format('woff2'),
       url('iconfont.woff?t=1621517406754') format('woff'),
       url('iconfont.ttf?t=1621517406754') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-huaban88:before {
  content: "\e61a";
}

.icon-yinfuyinpinbiao:before {
  content: "\e60d";
}

.icon-gedan:before {
  content: "\e64c";
}

.icon-danchuang_zhuanji_:before {
  content: "\e619";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-dianzan:before {
  content: "\e60a";
}

.icon-fenxiang1:before {
  content: "\e60b";
}

.icon-zuoxiajiao:before {
  content: "\e788";
}

.icon-youshangjiao:before {
  content: "\e79a";
}

.icon-shejiaotubiao-42:before {
  content: "\e648";
}

.icon-bianji:before {
  content: "\e606";
}

.icon-nv:before {
  content: "\e63a";
}

.icon-nan:before {
  content: "\e6c4";
}

.icon-tuichudenglu:before {
  content: "\e647";
}

.icon-mima:before {
  content: "\e605";
}

.icon-shouji:before {
  content: "\e604";
}

.icon-suijibofang:before {
  content: "\e623";
}

.icon-050caozuo_jingyin:before {
  content: "\e620";
}

.icon-laba:before {
  content: "\e643";
}

.icon-liebiaoxunhuan:before {
  content: "\e63d";
}

.icon-danquxunhuan:before {
  content: "\e640";
}

.icon-ci:before {
  content: "\e667";
}

.icon-jingyin:before {
  content: "\e747";
}

.icon-jingyunyinxiaopt-wangyiicon:before {
  content: "\e612";
}

.icon-playlist-bottom:before {
  content: "\e603";
}

.icon-shunxubofang:before {
  content: "\e641";
}

.icon-aixin:before {
  content: "\e85c";
}

.icon-zanting:before {
  content: "\e63b";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-xiayishou:before {
  content: "\e63f";
}

.icon-yule_yinlediantai:before {
  content: "\e66d";
}

.icon-yinyue:before {
  content: "\e9d5";
}

.icon-diantai:before {
  content: "\e601";
}

.icon-wodeshoucang:before {
  content: "\e608";
}

.icon-shezhi1:before {
  content: "\e6d2";
}

.icon-daosanjiao-:before {
  content: "\e69b";
}

.icon-minimize:before {
  content: "\ef08";
}

.icon-tinggeshiqu:before {
  content: "\e600";
}

.icon-wangyiyunyinle:before {
  content: "\e611";
}

.icon-xiazai:before {
  content: "\e66c";
}

.icon-zhuanjiguangpan:before {
  content: "\e64b";
}

.icon-yonghu:before {
  content: "\e6b3";
}

.icon-dilanxianxingiconyihuifu_huabanfuben:before {
  content: "\e602";
}

.icon-play:before {
  content: "\e66f";
}

.icon-shipin:before {
  content: "\e63e";
}

.icon-icon_huabanfuben:before {
  content: "\e639";
}

.icon-close:before {
  content: "\e60f";
}

.icon-zuidahua:before {
  content: "\e66b";
}

.icon-shezhi:before {
  content: "\e62a";
}

.icon--zuidahua:before {
  content: "\e622";
}

.icon-zuixiaohua:before {
  content: "\e60e";
}

.icon-zuidahua1:before {
  content: "\e75e";
}

.icon-sousuo:before {
  content: "\e720";
}

.icon-iconforward:before {
  content: "\e609";
}

.icon-icon-back:before {
  content: "\e621";
}

.icon-zhuti:before {
  content: "\e653";
}

.icon-vynil:before {
  content: "\e61f";
}

.icon-mail:before {
  content: "\e610";
}

.icon-pengyou:before {
  content: "\e746";
}

.icon-yinle:before {
  content: "\e62e";
}

.icon-like-line:before {
  content: "\e634";
}

.icon-jiahao:before {
  content: "\e84f";
}

.icon-fenxiang:before {
  content: "\e740";
}

.icon-V:before {
  content: "\e6e7";
}

